.collections{
    display: grid;
    grid-template-rows: 65% 35%;
    background-color: white;
    border-radius: 15px;
    
    position: relative;
}
.collections__background{
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
}

.collections__category{
    color: white;
    position: absolute;
    padding: 15px;
}

.collections__profil{
    position: absolute;
    top: 280px;
    left: 40px;
}

.collections__author{
    grid-area: 2 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    
}