.App{
  margin: 0 auto;
  padding: 20px;
  background-color: #EAEAEA;
}
.firstPage{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 20px;
}

.firstPage__travel{
  grid-area: 1 / 1 / 2 / 2;
}

.firstPage__outdoor{
  grid-area: 1 / 2 / 2 / 3;
}

.firstPage__services{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  margin-right: 20px;
  color: white;
  grid-gap:30px;
  grid-area: 2 / 1 / 3 / 3;
}

.firstPage__collections{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  margin-right: 20px;
  grid-gap:30px;
  grid-area: 3 / 1 / 4 / 3;
}

.secondPage{
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 50% 25% 25%;
  margin-top: 20px;

}

.secondPage__places{
  grid-area: 1 / 1 / 2 / 2;
}

.secondPage__latest{
  grid-area: 1 / 2 / 4 / 3;
}

.secondPage__FAndF{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-area: 2 / 1 / 3 / 2;
}

.secondPage__theme{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-area: 3 / 1 / 4 / 2;
}
